.button-success {
  color: white;
  border-radius: 4px;
  background: rgb(28, 184, 65);
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;
  border: none;
}

.heading {
  font-family: 'Merriweather';
  text-align: center;
}

.centered {
  text-align: center;
  margin-bottom: 1rem;
}

.left {
  margin-bottom: 1rem;
}
